    .container{
        flex: 1 1 auto;
        margin: 10px;
        border: 2px black solid;
        width: 300px;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .background-image{
            background-position: center;
            background-image: cover;
            width: 100%;
            height: 100%;
        }

        .caixa-interna{
            width: 200px;
            height: 80px;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.678);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title{

            }
        }

        &:hover{
            .background-image{
                transform: scale(1.1);
            }

            .caixa-interna{
                background-color: rgba(255, 255, 255, 0.89);
            }
        }
}

@media screen and (max-width: 700px) {
    .container{
        margin: 7px;
        border: 1.5px black solid;
        width: 200px;
        height: 120px;

        .caixa-interna{
            width: 150px;
            height: 60px;
            font-size: 12px;
        }
    }
}
